* {
	color: #fafafa;
}

body {
	background-color: #fafafa;
}

button {
	background-color: #006699;
	box-shadow: 3px 3px 5px rgb(77, 77, 77);
}

button:hover {
	background-color: #004699;
}

button:active {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0);
}

#insert_num {
	color: black;
	border: 3px solid #006699;
}

#output-container {
	border: 3px solid #006699;
}

#output-container.empty {
	border: none;
}

#output {
	color: black;
}

.theme-toggle {
	background-color: black;
}